* {
    box-sizing: border-box;
}

body
{
    background-color: #C4C4C4;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
}

.search-field {
    width:661px;
    height: 763px;
    padding: 62px 84px 72px 77px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.search-field__search,
.search-field__reposSelection
{
    display: flex;
    flex-direction: column;
}

.search-field__search {
    height: 430px;
}

.search-field__title {
    align-self: center;
}


.search-field__input {
    font-size: 48px;
    height: 61px;
    border: none;
    outline: none;  
    padding-left:10px;
    line-height: 56.25px;
}

.search-field__suggestions
{
    margin-top: 0px;
    padding-left: 0px;
    list-style: none;
}

.search-field__suggestion
{
    font-weight: 400;
    font-size: 30px;
    background-color: #E3E3E3;
    align-content:space-around;
    height: 44px;
    border:solid 2px;
    padding: 5px 5px;
    line-height: 35px;
}

.search-field__suggestion:hover
{
    background-color: #65CDF9;
}


.search-field__selectedRepo
{
    height: 101px;
    background-color:#E27BEB;
    font-size: 24px;
    display:flex;
    justify-content: space-between;
    border: 1px black solid;
    line-height: 28px;
}
.selectedRepo__text {
    padding: 8px 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selectedRepo__text span
{
    display: block;
}

.selectedRepo__deleteIcon
{
    margin-right: 34px;
    width: 35px;
    height: 35px;
    align-self: center;
}

.selectedRepo__deleteIcon:hover
{
    cursor: pointer;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}